*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100vw;
  height: auto;
  padding: 12px;
  border-bottom: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100vw;
  height: auto;
  padding: 12px;
  border-top: 1px solid black;
}

section {
  width: 100vw;
  height: auto;
  border: 1px solid black;
}

section.canvas {
  flex-grow: 2;
  padding: 64px;
}
section.controls {
  flex-grow: 1;
}

.canvas-container {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.canvas-container:hover {
  cursor: pointer;
}
.pixel {
  transition: all 0.1s;
  /* border: 0.1px solid black; */
}

.filled {
  background: black;
}
